html {
  background: #222;
  color: #ddd;
  font-family: BlinkMacSystemFont;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  color: #2af;
  text-decoration: none;
}

.item {
  padding: 0.5rem;
  display: block;
  width: 100%;
}

.item:hover {
  background-color: #333;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
}

input.item:focus {
  background-color: #258;
}