html {
  background: #222;
  color: #ddd;
  font-family: BlinkMacSystemFont;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#settings {
  margin: 1em;
}

#settings h1 {
  font-size: 100%;
  margin: 1rem 0;
}

#settings ul {
  border: 1px solid #333;
  background-color: #111;
}

#settings li {
  list-style-type: none;
}

#settings a {
  color: #2af;
  text-decoration: none;
}

#settings .item {
  padding: 0.5rem;
  display: block;
  width: 100%;
}

#settings .item:hover {
  background-color: #222;
}

#settings input {
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
}

#settings input.item:focus {
  background-color: #258;
}