html {
  background: #222;
  color: #ddd;
  font-family: BlinkMacSystemFont;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#settings {
  margin: 1em;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  align-items: baseline;
}

#settings>*:nth-child(2n+1) {
  text-align: right;
}

#settings h1 {
  font-size: 100%;
}

#settings ul {
  border: 1px solid #000;
  background-color: #111;
}

#settings #tasks li {
  list-style-type: none;
}

#settings #tasks a {
  color: #2af;
  text-decoration: none;
}

#settings #tasks .item {
  padding: 0.5rem;
  display: block;
  width: 100%;
}

#settings #tasks .item:hover {
  background-color: #222;
}

#settings #tasks input {
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
}

#settings #tasks input.item:focus {
  background-color: #258;
}

#settings #rate {
  border: none;
  outline: none;
  border: 1px solid #000;
  background-color: #111;
  color: inherit;
  font: inherit;
  width: 3em;
  padding: 0.5rem;
}

#settings #rate:focus {
  background-color: #258;
}

#settings #rate.invalid {
  color: red;
}

#settings #showTemplates {
  border: none;
  outline: none;
  border: 1px solid #000;
  background-color: #111;
  cursor: pointer;
  color: inherit;
  font: inherit;
  padding: 0.5rem;
}

#settings #showTemplates:hover {
  border-color: #258;
}

#settings #showTemplates:active {
  border-color: #258;
  background-color: #258;
}

#settings #showTemplates.invalid {
  color: red;
}