html {
  font-family: BlinkMacSystemFont;
}

#left, textarea, input, button {
  background: #222;
  color: #ddd;
}

#right {
  background: #fff;
  color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 36em;
  width: 100vw;
  height: 100vh;
}

#left {
  display: grid;
  grid-template-rows: auto 1fr;
}

#toolbar {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr auto;
}

#rate.invalid {
  color: red;
}

#rate {
  outline: none;
  border: 1px solid #777;
  font: inherit;
  padding: 7px;
  width: 3em;
}

#rate:focus {
  border-color: #17f;
}

#save {
  border: none;
  outline: none;
  font: inherit;
  border: 1px solid #777;
  padding: 7px;
  cursor: pointer;
}

#save:hover {
  border-color: #17f;
}

#save:active {
  border-color: #17f;
  background: #17f;
  color: #fff;
}

iframe {
  border: none;
}