html {
  font-family: BlinkMacSystemFont;
}

#left, textarea, input, button {
  background: #222;
  color: #ddd;
}

#right {
  background: #fff;
  color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  height: 100vh;
}

#left {
  display: grid;
  grid-template-rows: auto 1fr;
}

#toolbar {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr auto;
}

#rate.invalid {
  color: red;
}